.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  padding-top: 51px;
  height: 100%;
  overflow: auto;
  background-color: white;
  border: 1px solid black;
}

.links {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.links.active {
  background-color: #04AA6D;
  color: white;
}

.links:hover:not(.active) {
  background-color: #555;
  color: white;
}