front-end/node_modules/
front-end/.env 
back-end/API_GATEWAY/node_modules/ 
back-end/API_GATEWAY/.env 
back-end/blogManagement/node_modules/ 
back-end/blogManagement/.env
back-end/userManagement/node_modules/ 
back-end/userManagement/.env
